<!DOCTYPE html>
<html
  lang="en"
  x-data="{ darkMode: localStorage.getItem('dark') === 'true' }"
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }"
>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YKMB291FL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0YKMB291FL');
    window.addEventListener('popstate', () => {
      gtag('config', 'G-0YKMB291FL', {
        'page_path': window.location.pathname
      });
    });
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "lenonsec.com" }}</title>
  <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
  <link rel="stylesheet" href="/public/assets/app.css">
  <script defer type="module" src="/public/assets/app.js"></script>
  @if ($slots.meta)
    {{{ await $slots.meta() }}}
  @endif
</head>
<body>
  {{{ await $slots.main() }}}
</body>
</html>

