@layout.app({ title: 'Articles | Lenon blog'})
  @slot('main')
    <main class="section mx-auto max-w-3xl">
      @!layout.header()
      <div id="article-list" class="space-y-12">
        @!article.list({ articles })
      </div>
    </main>
  @endslot
@end


