@layout.app({ title: 'Articles | Lenon blog'})
  @slot('main')
    <main class="mx-auto max-w-3xl">
      <section>
        @!layout.header()
        <div id="article-list" class="space-y-12">
          @!article.list({ articles })
        </div>
      </section>
    </main>
  @endslot
@end


