<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YKMB291FL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0YKMB291FL');
    window.addEventListener('popstate', () => {
      gtag('config', 'G-0YKMB291FL', {
        'page_path': window.location.pathname
      });
    });
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "lenonsec.com" }}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset("src/resources/app/assets/img/favicon.ico") }}">
  @viteReactRefresh()
  @vite(['src/resources/app/root.tsx'])
</head>
<body>
  <div id="root">{{{ element }}}</div>
</body>
</html>
